* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
	text-decoration: none;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* 列表容器 */

.nav {
	height: 100%;
	width: 25%;
	overflow-y: hidden;
	/* border-radius: 1vmin; */
	background-color: white;
	box-shadow: 0vmin 0vmin 3vmin rgba(0, 0, 0, .1);
}

.nav:hover {
	overflow-y: scroll;
}

/* 动画容器 */

.anmwrap {
	width: 75%;
	height: 100%;
	/* background-color: white; */
	/* border-radius: 1vmin; */
	/* box-shadow: 0vmin 0vmin 3vmin #aaa; */
	overflow-y: scroll;
}

/* .anmwrap:hover{
	overflow-y: scroll;
} */

.mdwrap {
	width: 100vmin;
	margin: 2vmin auto 10vmin auto;
	padding: 0;
	background-color: white;
}

/*滚动条整体样式*/

::-webkit-scrollbar {
	width: 0.5vmin;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 0.5vmin;
}

/*滚动条里面小方块*/

::-webkit-scrollbar-thumb {
	border-radius: 1vmin;
	background-color: skyblue;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	transition: 0.5s;
	opacity: 0;
}

/* iframe样式 */

.algorithms-class {
	display: block;
	margin: 0 auto;
	border: none;
	background-color: #aaa;
	width: 100vmin;
	height: 100vmin;
}

/**
 * 导航栏列表样式
 */

.nav-list-title {
	transition: 0.2s;
}

.nav-list-title:hover {
	/* transition: 0.5s; */
	background-color: #eee;
}

.nav-list-lv1 {
	/* margin: 1.5vmin auto; */
}

.nav-list-lv1-title {
	width: 100%;
	padding: 0 10%;
	height: 7vmin;
	line-height: 7vmin;
	margin: 0vmin auto;
	/* border: 1px solid #000000; */
	user-select: none;
	font-weight: bold;
	font-size: 3vmin;
	color: #333;
}

.nav-list-lv1-content {
	width: 100%;
	/* padding: 0 10%; */
	/* margin: 1.5vmin auto; */
	overflow: hidden;
}

.nav-list-lv2 {
	/* margin: 1.5vmin auto; */
}

.nav-list-lv2-title {
	width: 100%;
	padding: 0 10%;
	height: 6vmin;
	line-height: 6vmin;
	font-size: 2vmin;
	color: #888;
	/* width: 90%; */
	/* margin: 0px auto; */
	/* border: 1px solid #aaa; */
	user-select: none;
}

.nav-list-lv2-content {
	transition: 0.5s;
	/* width: 90%;
	margin: 0px auto; */
	overflow: hidden;
}

.nav-list-lv3 {
	/* margin: 1.5vmin auto; */
}

.nav-list-lv3-title {
	width: 100%;
	padding: 0 10%;
	height: 5vmin;
	line-height: 5vmin;
	/* width: 90%;
	margin: 0px auto; */
	/* border: 1px solid #eee; */
	user-select: none;
	color: #555;
	font-size: 2.5vmin;
}

.nav-list-lv3-content {
	transition: 0.5s;
	/* width: 90%;
	margin: 0px auto; */
	overflow: hidden;
}

/* 列表内容隐藏和显示 */

.list-height-0 {
	max-height: 0px;
	transition: max-height cubic-bezier(0, 1, 0, 1) 0.2s;
	/* background-color: red; */
	/* transition: 0.5s; */
}

.list-height-auto {
	transition: max-height cubic-bezier(1, 0, 1, 0) 0.2s;
	max-height: 2000px;
}