* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

a {
	text-decoration: none;
}

/*正常的未被访问过的链接*/
/* a:link {
	text-decoration: none;
} */

/*已经访问过的链接*/
/* a:visited {
	text-decoration: none;
} */

#app {

	position: relative;
	width: 100%;
	height: 100%;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav {
	height: 90%;
	width: 20%;
	border-radius: 1vmin;
	background-color: white;
	box-shadow: 0vmin 0vmin 3vmin #aaa;
}

.anmwrap {
	width: 70%;
	height: 90%;
	background-color: white;
	border-radius: 1vmin;
	box-shadow: 0vmin 0vmin 3vmin #aaa;
	overflow-y: scroll;
}

.anmwrap>.mdwrap {
	margin: 5vmin;
}



/*滚动条整体样式*/
::-webkit-scrollbar {
	width: 0.5vmin;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 0.5vmin;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
	border-radius: 1vmin;
	background-color: skyblue;
	background-image: -webkit-linear-gradient(45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent);
	transition: 0.5s;
	opacity: 0;
}

/* hover有效但是过渡无效 */
/* .anmwrap:hover::-webkit-scrollbar {
	background-color: red;
	opacity: 1;
} */

.algorithms-class {
	display: block;
	margin: 0 auto;
	border: none;
	background-color: #aaa;
	width: 90vmin;
	height: 90vmin;
}

/**
 * 导航栏列表样式
 */
.nav-list-lv1 {
	margin: 10px auto;
}

.nav-list-lv1-title {
	width: 90%;
	margin: 0px auto;
	border: 1px solid #000000;
	user-select: none;
}

.nav-list-lv1-content {
	width: 90%;
	margin: 0px auto;
	overflow: hidden;
}

.nav-list-lv2 {
	margin: 10px auto;
}

.nav-list-lv2-title {
	width: 90%;
	margin: 0px auto;
	border: 1px solid #aaa;
	user-select: none;
}

.nav-list-lv2-content {
	transition: 0.5s;
	width: 90%;
	margin: 0px auto;
	overflow: hidden;
}

.nav-list-lv3 {
	margin: 10px auto;
}

.nav-list-lv3-title {
	width: 90%;
	margin: 0px auto;
	border: 1px solid #eee;
	user-select: none;
}

.nav-list-lv3-content {
	transition: 0.5s;
	width: 90%;
	margin: 0px auto;
	overflow: hidden;
}

/* 列表内容隐藏和显示 */
.list-height-0 {
	max-height: 0px;
	transition: max-height cubic-bezier(0, 1, 0, 1) 0.2s;
	/* background-color: red; */
	/* transition: 0.5s; */
}

.list-height-auto {
	transition: max-height cubic-bezier(1, 0, 1, 0) 0.2s;
	max-height: 2000px;

}
